
@{
    ViewData["Title"] = "Prep";
}

<h1>Meet prep</h1>
<div class="section">
    <h3>General</h3>
    <h6>Weigh-in</h6>
    <p>You'll be required to do a weigh in prior to the meet, your fed will advise you when and where to get weighed. 
    Some federations have a 2-hour weigh-in (e.g. IPF, USAPL), while others have a 24-hour weigh-in (e.g. IPL, USPA). 
    (Note: if you are cutting weight, protocols must be different for these two types of weigh-ins, as noted above under
    the Cutting Weight paragraph in the Preparation section.)</p>
    <h6>Bar heights</h6>
    <p>They'll also take your bar heights so you can comfortably unrack when benching and squatting. Take your time 
    setting the heights exactly right for you. If there is any uncertainty, ask. People arranging the meet want it to go 
    smoothly as you do. You don't want to take your first squat or bench and realize - when it's too late and your nerves are high -
    that the bar is too high or low. Some people like to write their own rack height numbers down to verify later, or to know what 
    their heights are for their next meet.</p>
    <h6>Opener</h6>
    <p>They'll also want you to provide an opening weight for your first lift. You should have already thought about your attempt 
    selection and have a range of your opening, second, and final attempts. If you are in the USA, familiarize yourself with kilo 
    conversions unless you want to run into a lot of needless confusion on meet day. Your fed should have a pound-to-kilo conversion chart at 
    the meet, but it's helpful to have your own.</p>
    <h6>Travel</h6>
    <p>
        If the meet is local, wonderful; if it's not, ensure you have made all arrangements to get to the meet on time, 
        and booked a room for the meet if it's a long journey. A meet is an all day thing. The last thing you'll want is your 
        meet finishing, and you have a five-hour trip when you're normally thinking about hitting the sack.
    </p>
    <h6>Handler</h6>
    <p>Sounds professional doesn't it? Essentially someone to accompany you to the meet so you can concentrate on lifting.
    They should be the one with the bag 'o' food 'n' drink. Hold your equipment. Hold your ammonia (if you're using it). 
    Listen for your platform calls. Help with equipment. Someone that's been to a meet before is a useful person to have, if not just a body to do the listed.</p>
    <h6>Protocols</h6>
    <p>Every federation has do's and dont's during competition. These vary from fed to fed, and you'd be advsied to look at your fed's website to make sure you 
    know them beforehand. There will also be a rules briefing before lifting begins. Don't bomb out of a meet just because you missed a lift command from a judge. 
    Read the rules many weeks before competing so that your training leading up to the meet is in accordance with how the meet will go. Practice how you play.</p>
</div>
<div class="section">
    <h3>Nutrition</h3>
    <h6>Cutting</h6>
    <p>
        It's possible to cut large amounts of weight very near to a meet via specific methodologies using water-weight 
        manipulation allowing you to meet a weight class. The often extreme methodologies of weight manipulation has crept into general
        use amongst amateur powerlifters in recent years, often with vastly impaired performance at the meet. Unless you're attempting 
        to set records, or lift at an elite level, the tradeoff between performance and lifting in a lower weight class with (often marginally)
        lower lift totals to beat isn't worth it. If it's your first meet, don't even think about it. It adds another variable - and stressor - 
        to an already new and complex experience.
    </p>
    <h6>Bulking</h6>
    <p>
        The opposite side is to use a bulk going into a meet. This will facilitate increased lifts, 
        and better recovery if using a more intensive peaking program, and so ultimately reward you with a higher total. 
        Unlike long term cutting, or manipulating water weight, there's no need to use any complicated method, you just eat more. 
        A figure to aim for is at least (preferably over) your TDEE. 
    </p>
</div>

<style>
    .section {
        margin-top: 30px;
    }
</style>

