
@{
    ViewData["Title"] = "Me";
}

<h1>About me</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ggHq2h9xjgI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div>
    <p>I am a lifter in the 165lb weight class. I compete in the Revolution Powerlifting Syndicate (RPS). My best lifts in competition are:</p>
    <ul>
        <li>Squat: 345lbs</li>
        <li>Bench: 210lbs</li>
        <li>Deadlift: 405lbs</li>
    </ul>
    <p>I am currently in preparation for my next meet. I'll be competing at the exact same meet as the one above, once again in the 165lb weight class. My goals for this competition are: </p>
    <ul>
        <li>Squat: 450lbs</li>
        <li>Bench: 275lbs</li>
        <li>Deadlift: 465lbs</li>
    </ul>
</div>