
@{
    ViewData["Title"] = "Lifts";
}

<h1>Lifts</h1>
<div class="section">
    <h3>Squat</h3>
    <p>
        The lifter must bend the knees and lower the body until the top of the thigh at the hip,
        NOT the hip joint, is lower than the top of the kneecap. Locking and unlocking of the knees
        after the squat command is not deemed as a descent. Any reverse of direction during downward
        descent is considered an attempt. Only one descent per attempt is allowed.
    </p>
    <img src="~/images/squat.gif" />
</div>
<div class="section">
    <h3>Bench</h3>
    <p>
        After receiving the bar at arms length the lifter must show locked control of the lift to
        receive the head judge’s verbal “Bench” command to commence the lift. Once the command is given the lifter,
        at will, shall lower the bar to his chest in a controlled manner and await the referee’s command. Any reverse of
        direction during downward descent is considered an attempt. After the command to resume the lift is given, the
        bar is pressed upward. During the ascent, the bar may stop in its upward motion, but is not allowed any downward
        movement. The bar is also allowed to extend unevenly (no more than 5 inches), but arms must extend to a locked-out
        position simultaneously and evenly at the completion of the lift. Once the bar is returned to straight arms length
        with elbows locked held under control the verbal “RACK” command is given by the head judge. The spotters will assist
        in returning the bar to the rack.
    </p>
    <img src="~/images/bench.gif" />
</div>
<div class="section">
    <h3>Deadlift</h3>
    <p>
        Facing the front of the platform, the lifter grasps the bar laid horizontally at their feet with an
        optional grip in both hands and lifts upward in one movement until the lifter is standing erect. The
        bar is allowed to stop, but no downward movement is allowed. There is no start command for the deadlift.
        Upon completion of the lift, the lifter shall be standing erect with hips and knees locked. The shoulders
        must be square and are not required to be thrust back past the erect position. If they are thrust back and
        all other criteria is acceptable, the lift will be considered good.
    </p>
    <img src="~/images/deadlift.gif" />
</div>


<style>
    .section {
        margin-top: 25px;
    }
</style>
