
@{
    ViewData["Title"] = "Equipment";
}

<h1>Equipment</h1>
<div class="section">
    <h3>Belt</h3>
    <p>
        Powerlifters wear belts like the Inzer Forever Belt primarily because it allows them to squat and deadlift more weight.
        The potential safety benefit is a secondary concern. Belts designed specifically for the sport of powerlifting are heavy duty, stiff,
        and the same width all the way around.
    </p>
    <img src="~/images/belt.jpg" />
</div>
<div class="section">
    <h3>Wrist wraps</h3>
    <p>Wrist wraps provide support to your wrist joint while you carry out heavy lifts. This not only increases your grip, but it also reduces the chance of hand and wrist injury</p>
    <img src="~/images/wristwraps.jpg" />
</div>
<div class="section">
    <h3>Sleeves</h3>
    <p>
        The American aliate of the international World Powerlifting Congress. Supports the integrity of the individual lifter, allowing the lifter to be judged fairly and consistently
        and providing quality contests at all levels. This organization allows each competitor the opportunity to enjoy Powerlifting as a positive sport.
    </p>
    <img src="~/images/sleeves.jpg" />
</div>


<style>
    .section {
        margin-top: 25px;
    }

    img {
        width: 350px;
        height: 250px;
    }
</style>

